.contactables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactables li {
    min-width: 40%;
    background-color: var(--color-fg-1);
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 2px 1px 0 var(--color-shadow);
}

.contactables li a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 4rem;
    padding-left: 5px;
    padding-right: 5px;
}

.contactables li a img {
    height: 50px;
    object-fit: contain;
    padding-right: 5px;
}