.experience-sections {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.work-experience-header, .volunteer-experience-header {
    font-size: 2.5rem;
    border-bottom: 3px solid var(--color-text-1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.entryTitle {
    margin-top: 10px;
    font-size: 1.5rem;
}

.entryDescription {
    font-size: 1rem;
}