.section-wrapper {
    display: flex;
    flex-direction: row;
}

.has-img .section-text {
    width: 60%;
}

.section-text {
    margin: 5% 5% 5% 5%;
}

.section-text p {
    margin-bottom: 10px;
}

.section-wrapper img {
    max-height: 300px;
    object-fit: contain;
}

.section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    display: flex;
    justify-content: center;
}

.bottomPageDecor {
    max-width: 60%;
    max-height: 300px;
}

@media screen and (max-width: 500px) {
    .has-img .section-text {
        width: 80%;
    }

    .section-wrapper {
        flex-direction: column;
    }
}