.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text {
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    word-wrap: wrap;
}

.section-text p {
    margin-bottom: 10px;
}

.section-wrapper img {
    max-height: 300px;
    object-fit: contain;
}

.bottomPageDecor {
    max-width: 60%;
    max-height: 300px;
}