.welcome-screen {
    background-color: var(--color-bg);
    height: 100vh;
    min-width: 350px;
    position: relative;
}

.welcome-fg {
    background-color: var(--color-fg-1);
    width: 96%;
    height: 90%;
    /* Center div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-fg::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/imgs/rlauv.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.welcome-text p {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
}

.welcome-navbar {
    position: absolute;
    bottom: 10px;
    left: 40px;
}

.welcome-navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.welcome-navbar-list li {
    font-size: 2.5rem;
    padding: 1rem;
}

@media screen and (max-width: 1100px) {
    .welcome-navbar-list li {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    .welcome-navbar-list li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .welcome-text p {
        font-size: 4rem;
    }

    .welcome-navbar {
        left: 10px;
    }

    .welcome-navbar-list li {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .welcome-navbar-list li {
        font-size: 0.8rem;
    }
}