.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-list li {
    width: 40%;
    height: 150px;
    margin: 3%;
    background-color: var(--color-item-border-1);
    border-radius: 30px;
    position: relative;
}

.projects-list li div {
    width: 96%;
    height: 90%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-fg-1);
    overflow: hidden;
}

.projects-list li div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    width: 120%;
}

.projects-list li div img:hover {
    opacity: 1;
}

.projects-list li div p {
    text-align: center;
}