.page-screen-background {
    height: 100vh;
    position: relative;
}

.page-foreground {
    background-color: var(--color-fg-2);
    width: 96%;
    height: 94%;
    /* Center div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px var(--color-shadow);
}

.page-title {
    color: var(--color-text-1);
    padding: 2% 0 0 4%;
    font-size: 3rem;
    font-weight: bold;
}