.navbar {
    position: absolute;
    display: flex;
    width: 10rem;
    height: 100vh;
    flex-direction: column;
    background: var(--color-navbar);
    right: 0px;
    box-shadow: -3px 0 3px 1px var(--color-navbar-shadow);
    color: var(--color-navbar-text);
}

.navbar-icon {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 20px;
    height: 5%;
}

.navbar-list {
    color: inherit;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-out;
}

.navbar-list li {
    color: inherit;
    padding: 10%;
}

.navbar-list li a {
    color: inherit;
}

.navbar-list li:hover {
    background: var(--color-navbar-2);
}

.navbar-list li:active {
    background: var(--color-navbar-3);
}