.navbar {
    position: absolute;
    display: flex;
    height: 100vh;
    flex-direction: row;
    background: var(--color-navbar);
    right: 0px;
    box-shadow: -3px 0 3px 1px var(--color-navbar-shadow);
    color: var(--color-navbar-text);
    transition: 0.5s;
}

.navbar-icon {
    display: inherit;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 0 3px 1px var(--color-navbar-shadow);
    font-size: 2rem;
}

.navbar-list {
    opacity: 0;
    color: inherit;
    display: inherit;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s;
}

.navbar-list-active {
    opacity: 1;
    transform: translate(0%, 0%);
}


.navbar-list li {
    color: inherit;
    margin: 2% 0 2% 0;
    transition: 0.5s ease-out;
}

.navbar-list li a {
    display: block;
    padding: 2rem;
    color: inherit;
    font-size: 1rem;
}

.navbar-list li:hover {
    box-shadow: inset 200px 0 0 0 var(--color-navbar-2);
    background: var(--color-navbar-2);
}

.navbar-list li:active {
    background: var(--color-navbar-3);
}