.page-wrap {
    position: relative;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-foreground {  
    margin-top: 2vh;
    width: 98%;
    min-height: 96vh;
    height: 96%;

    background-color: var(--color-fg-2);
    box-shadow: 3px 4px var(--color-shadow);
}

.page-title {
    color: var(--color-text-1);
    padding: 2% 0 0 4%;
    font-size: 3rem;
    font-weight: bold;
}