.page-wrap {
    position: relative;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-foreground {  
    width: 96%;
    min-height: 96vh;
    margin-top: 2%;
    margin-bottom: 2%;

    background-color: var(--color-fg-2);
    box-shadow: 3px 4px var(--color-shadow);
}

.page-title {
    color: var(--color-text-1);
    padding: 2% 0 0 4%;
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (max-width: 350px) {
    .page-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 250px) {
    .page-title {
        font-size: 1rem;
    }
}