* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
  background: var(--color-bg);
}

a, ul, li {
  color: var(--color-text-2);
  text-decoration: none;
  list-style-type: none;
}