:root {
  --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* Light */
  --color-text-1: #617A55;
  --color-text-2: #000000;
  --color-text-3: #FFFFFF;

  --color-navbar: rgba(152, 193, 217, 0.9);
  --color-navbar-2: rgba(61, 90, 128, 0.9);
  --color-navbar-3: rgba(61, 90, 128, 0.95);
  --color-navbar-text: white;
  --color-navbar-shadow: rgba(132, 168, 188, 0.5);

  --color-bg: #FFF8D6;
  --color-fg-1: #F7E1AE;
  --color-fg-2: #A4D0A4;
  --color-item-border-1: #617A55;
  --color-contacts: #617A55;
  --color-shadow: rgba(46, 41, 30, 0.5);

  /* Dark */
}